:root {
    /* popup */
    /* popup sizes */
    --popup-win-width: 25vw;
    --popup-win-height: 15vw;
    /* popup position */
    --popup-win-top: 25vw;
    --popup-win-left: 50vw;
    /* popup other syles */
    --popup-win-font-size: 2.5vw;
    --popup-win-border-radius: 1vw;
    --popup-win-bg: #F2F3F1;
    --popup-win-bg-hover: #F7F7F7;
    --popup-win-shadow: .4vw .5vw .5vw #000;
    --popup-win-z-index: 1;

    /* popup close btn */
    /* popup close btn sizes */
    --popup-close-btn-width: 2.3vw;
    --popup-close-btn-height: 2.3vw;
    /* popup close btn position */
    --popup-close-btn-top: 1vw;
    --popup-close-btn-right: 1.1vw;
    /* popup close btn other syles */
    --popup-close-btn-font-size: 1.1vw;
    --popup-close-btn-color: #000;

    /* cross bar */
    --cross-bar-width: 1.5vw;
    --cross-bar-height: .1vw;
    --cross-bar-bg-color: #000;

    /* popup reset btn */
    --popup-reset-btn-bg: #007BFF;
    --popup-reset-btn-bg-hover: #006AD4;
    --popup-reset-btn-font-size: 1.4vw;
    --popup-reset-btn-padding: 1vw 2vw;
    --popup-reset-btn-mt: 1vw;

    /* popup score */
    --popup-score-right: 1.1vw;
    --popup-score-bottom: 1vw;
    --popup-score-font-size: 1.5vw;
}

/* popup styles */
.popup-win {
    /* Position */
    position: fixed;
    top: var(--popup-win-top);
    left: var(--popup-win-left);
    transform: translate(-50%, -50%);
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Sizes of popup box */
    width: var(--popup-win-width);
    height: var(--popup-win-height);
    font-size: var(--popup-win-font-size);
    border-radius: var(--popup-win-border-radius);
    background-color: var(--popup-win-bg);
    box-shadow: var(--popup-win-shadow);
    z-index: var(--popup-win-z-index);
    transition: background-color .5s;
}

.popup-win:hover {
    background-color: var(--popup-win-bg-hover);
}

.popup-close-btn {
    /* close button position styles */
    position: absolute;
    top: var(--popup-close-btn-top);
    right: var(--popup-close-btn-right);
    /* close button size styles */
    width: var(--popup-close-btn-width);
    height: var(--popup-close-btn-height);
    /* close button display styles */
    display: flex;
    justify-content: center;
    align-items: center;
    /* close button other styles */
    color: var(--popup-close-btn-color);
    font-size: var(--popup-close-btn-font-size);
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
}

.popup-close-btn:hover .bar {
    transform: scale(1.1);
}

/* Close Button Styles */
.bar{
    width: var(--cross-bar-width);
    height: var(--cross-bar-height);
    position: relative;
    transition: transform .1s;
}

.bar:before, .bar:after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--cross-bar-bg-color);
}

.bar:before{
    transform: translateY(0) rotate(-45deg);
}

.bar:after{
    transform: translateY(0) rotate(45deg);
}

/* popup reset button */
.popup-reset-btn {
    width: 100%;
    background-color: var(--popup-reset-btn-bg);
    font-size: var(--popup-reset-btn-font-size);
    padding: var(--popup-reset-btn-padding);
    margin-top: var(--popup-reset-btn-mt);
    color: #FFF;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .5s;
}

.popup-reset-btn:hover {
    background-color: var(--popup-reset-btn-bg-hover);
}

/* popup score field */
.popup-score {
    position: absolute;
    right: var(--popup-score-right);
    bottom: var(--popup-score-bottom);
    font-size: var(--popup-score-font-size);
    margin: 0;
}

.score-bold {
    font-weight: 600;
}

/* Blur container between game screen and popup */
.blur-container {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: .4;
}