.card-template {
    width: var(--card-width);
    height: var(--card-height);
    font-size: 1.13vw;
    font-weight: 600;
    margin-right: 1vw;
}

.card-spade {
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    padding: .2vw;
    border-radius: var(--card-border-radius);
    border: .5px solid #000;
}